.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: .5rem;

}

.post-input{
    padding: 1rem;
    background-color: aqua;
}

.post-input input{
    padding: .5rem;
    margin: .4rem;
    width: 70%;
    border-color: #0084ff;
}

.feed,
.friends-list,
.profile-summary,
.about-user{
    border: solid 1px #7d7b7b;
}

.post-input img,
.single-post img.profile-pic,
.single-friend img.profile-pic{
    float: left;
    width: 4rem;
}

.friends-list{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.single-friend,
.single-post{
    padding: .5rem;
}

.single-friend button{
    background-color: #0077ff;
    border: none;
    padding: .3rem;
    color: #fff;
}

.left-pane,
.right-pane{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.profile-summary .cover-image{
    height: 10rem;
    background: no-repeat center url("./../../img/OIP.jpg");
    background-size: cover;
    position: relative;
}

.profile-summary .profile-photo{
    position: absolute;
    width: 7rem;
    bottom: -2rem;
    left: 0;
}

.profile-summary ul{
    list-style: none;
    display: flex;
}

.profile-summary li {
    margin: 1rem;
}

.profile-summary button{
    border: none;
    background-color: transparent;
}

.about-user{
    padding: .6rem;
}
